public/
log/development.log
tmp/*
s/*
Gemfile~
app/views/galleries/index.html.erb~
app/views/galleries/show.html.erb~
config/application.rb~

app/assets/stylesheets/main.css.scss~
app/views/devise/sessions/new.html.erb~
app/views/devise/passwords/new.html.erb~
app/controllers/admin_controller.rb~
app/controllers/application_controller.rb~
app/views/layouts/admin.html.erb~
config/routes.rb~

app/controllers/galleries_controller.rb~
app/controllers/pictures_controller.rb~
app/views/admin/index.html.erb~
app/views/pictures/index.html.erb~
db/seeds.rb~


app/assets/javascripts/application.js~
