<script></script>

<div id="white-screen">
	<div id="title"><%= #image_tag("JP.jpg")
	%></div>
</div>
<div id="container">
	<div id="menu">
		<div id="menu-galleries">
		</div>		
	</div>
  <%= #image_tag("JP-inv.gif",:id => "initiales")
  %>
	<div id="content"/>
</div>

