<script></script>

<div id="white-screen">
	<div id="title"><%= #image_tag("JP.jpg")
	%></div>
</div>
<div id="container">
	<div id="menu">
		<div class="menu-line">
			<div class="menu-item" id="main"><a href="#!main"><%= Constant.find_by_name('project').value.upcase%></a></div>
		</div>
		<div class="hr-line">
		</div>
		<div id="menu-galleries">
		</div>		
	</div>
  <%= #image_tag("JP-inv.gif",:id => "initiales")
  %>
	<div id="content"/>
</div>

