/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

.vertical_line{
	float:left;
	background-color: #CCCCCC;
    margin-left: 5px;
    margin-right: 5px;
    height:600px;
    width: 1px;
}

.modal-body ul{
	list-style-type: none; margin: 0; padding: 0; 
} 

.modal-body li{
	width:80px;
}

.img-trash{
	background-image: image-url("trash.png");
	height:50px;
	width:50px;
}

.content_admin{
	padding:0px 20px 0px 20px;
}

#content{
	top:50px;
}

//crop

.imgouter {
   position: relative; border: none; margin-left: 10px;
   z-index: 200;
}

.imglayer {
   padding: 1px;
   background-position: center center;
   background-color: transparent; background-repeat: no-repeat; opacity: 0.5; cursor: default;
   filter:alpha(opacity=50); /* IE 6-7 Trash */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 Trash */
   z-index: 300; 
}  

.cropframe {
   position: absolute; width: 40px; height: 40px; left: 0px; top: 0px; padding: 0px; border: 1px dashed #333; background-repeat: no-repeat;
   -border-image: image-url('ants.gif') 1 repeat repeat;
   -webkit-border-image: image-url('ants.gif') 1 repeat repeat;
   -moz-border-image: image-url('ants.gif') 1 repeat repeat;
   z-index: 999;     
}

.cropframe.active {
   border: 1px dashed #fff;
}

.cropinfo {
   background-color: #ccc; opacity: 0.4; top: 0px; left: 0px; height: 32px; position: absolute;
   filter:alpha(opacity=40); /* IE 6-7 Trash */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* IE8 Trash */   
   z-index: 600;
}

.cropdims {
   color: #000; padding: 6px 5px; margin-left: 32px; font-size: 13px;
   z-index: 500;
}

.cropbtn {
   background-image:image-url('crop.gif'); background-repeat: no-repeat;
   position: absolute; left: 0px; height: 32px; width: 32px; cursor: pointer !important;
   z-index: 800;
}

.cropbtn:hover {
   background-color: black;
}

.draghandle {
   background-color: transparent; top: 0; left: 0; width: 100%; height: 100%; margin: 0px; position: absolute; cursor: move;
   z-index: 90;
}

.resizeHandle {
   z-index: 40; opacity: 0.9;
   filter:alpha(opacity=90); /* IE 6-7 Trash */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE8 Trash */
   background-color: #666;
   position: absolute; margin: 0px; border: 1px solid #fff; height: 8px; width: 8px;     
}

.resizeHandleXY {
   left: 100%; top: 100%;    
   cursor: se-resize;
}