/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

.vertical_line{
	float:left;
	background-color: #CCCCCC;
    margin-left: 5px;
    margin-right: 5px;
    height:600px;
    width: 1px;
}

.modal-body ul{
	list-style-type: none; margin: 0; padding: 0; 
} 

.modal-body li{
	width:80px;
}

.img-trash{
	background-image: image-url("trash.png");
	height:50px;
	width:50px;
}

.content_admin{
	padding:20px 20px 20px 20px;
}

#content{
	top:50px;
}